body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  overflow-x: hidden;
}

.banner {
  background: #FFF7E6;
}

.banner::before {
  content: '';
  position: absolute;
  top: -10vw;
  right: -10vw;
  width: 50vw;
  height: 50vw;
  background-color: #F5A401;
  border-radius: 50%;
  z-index: 0;
}

header {
  position: relative;
  display: flex;
  color: #353535;
  padding: 10px 0;

  height: 200px;

  align-items: center;
  justify-content: center;
  gap: 48px;
  z-index: 99;
}

#cart-icon {
  position: relative;
  cursor: pointer;
}

#cart-count {
  background: #FE2626;
  border-radius: 50%;
  color: white;
  font-size: 0.8em;
  padding: 2px 5px;
  position: absolute;
  top: -10px;
  right: -20px;
}

#cart {
  position: fixed;
  top: 70px;
  right: 0;
  width: 300px;
  background: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 20px;

  border-radius: 10px;
}

#cart h2 {
  margin: 0 0 10px;

  color: #353535
}

#cart button {
  background: #666;
  color: #f9f9f9;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 50px;
  margin-top: 10px;
}

#cart button:hover {
  background: #555;
}

#cart-items {
  max-height: 400px;
  overflow-y: auto;
}

#cart .cart-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

#cart .cart-item h3 {
  margin: 0;
  font-size: 1em;
}

#cart .cart-item p {
  margin: 0;
  color: #777;
}

#close-cart {
  background: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.cart-hidden {
  display: none;
}

.cart-visible {
  display: block;
}

.logo {
  width: 200px;
  height: 200px;
}

.logo img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

header nav ul {
  list-style: none;
  display: flex;

  justify-content: center;
  align-items: center;

  padding: 0;
  margin: 0;
}

header nav ul li {
  margin: 0 15px;
}

header nav ul li a {
  color: #353535;
  text-decoration: none;

  font-weight: 700;
}

.offer {
  display: flex;
  padding: 100px 20rem 200px 20rem;

  position: relative;
  z-index: 99;
}

.offer-text {
  max-width: 60%;
}

.offer-text h1 {
  margin: 0;
  font-size: 3em;
  color: #353535;
}

.offer-text h2 {
  margin: 0;
  font-size: 1.5em;
  color: #656565;
}

.offer-text p {
  font-size: 1em;
  margin-top: 2rem;
  color: #858585;
}

.offer-text button {
  padding: 10px 20px;
  font-size: 1em;
  font-weight: 700;

  border: none;
  background: #F5A401;
  color: #f9f9f9;
  border-radius: 50px;

  padding: 16px 32px;
  margin-top: 1rem;
  opacity: 1;
  transition: 0.5s ease;
}

.offer-text button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.offer-image {
  display: flex;
}

.offer-card {
  position: absolute;
}

.offer-card-text {
  position: absolute;

  top: -10vw;
  right: -40vw;
}

.offer-card-text h2 {
  margin: 0;

  font-size: 10rem;
  font-weight: 700;
  color: #f9f9f9;
}

.offer-card-text p {
  margin: 0;

  font-size: 3.5rem;
  color: #f9f9f9;

  text-align: right;
}

.offer-card img {
  position: absolute;

  width: 400px;
  height: 400px;

  top: -7vw;
  right: -35vw;

  filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.4))
}

.burger-menu {
  text-align: center;
  padding: 50px 20rem;

  background: #FFF7E6;
}

.burger-menu h2 {
  font-size: 3rem;
  font-weight: 700;
  color: #353535;

  margin: 0;
}

.burger-menu p {
  font-size: 1.2em;
  color: #656565;
}

.menu-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1.5rem;
  row-gap: 1.5rem;
  justify-content: center;

  margin-top: 4rem;

  position: relative;
  z-index: 99;
}

.menu-item {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: space-between;

  background-color: #FFF3E1;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  max-width: 240px;
  width: 100%;
  text-align: center;
  opacity: 1;

  transition: .5s ease;
}

.menu-item:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.burger-menu .menu-item img {
  width: 150px;
  height: 150px;
  border-radius: 10px 10px 0 0;
}

.burger-menu .menu-item-info {
  padding: 10px;
}

.burger-menu .menu-item-info h3 {
  font-size: 1.2em;
  margin: 10px 0;
}

.burger-menu .menu-item-info p {
  font-size: 1em;
  color: #777;
}

.cart-button {
  padding: 10px 20px;
  font-size: 1em;
  font-weight: 700;

  border: none;
  background: #FE2626;
  color: #f9f9f9;
  border-radius: 50px;

  padding: 16px 32px;
  margin-top: 1rem;
  opacity: 1;
  transition: 0.5s ease;
}

.cart-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.hot-deals {
  background-color: #FFF7E6;
  padding: 50px 20rem;
  text-align: center;
}

.hot-deals h2 {
  font-size: 3rem;
  font-weight: 700;
  color: #353535;

  margin-bottom: 4rem;
}

.special-combo {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 10rem;
  margin-bottom: 5rem;
}

.special-combo img {
  object-fit: cover;
  width: 500px;
  height: 300px;
  margin-right: 20px;
  border-radius: 20px;
}

.combo-text {
  display: flex;
  flex-direction: column;
  max-width: 400px;

  padding: 0 2rem;
  align-items: flex-start;
  justify-content: flex-start;
}

.combo-text h3 {
  margin: 0;
  width: fit-content;

  font-size: 1.5em;

  color: #353535;
}

.combo-text span {
  margin-top: 1rem;

  color: #656565;
}

.combo-text p {
  text-align: left;

  color: #858585;
}

.combo-text button {
  padding: 10px 20px;
  font-size: 1em;
  font-weight: 700;

  border: none;
  background: #FE2626;
  color: #f9f9f9;
  border-radius: 50px;

  padding: 16px 32px;
  margin-top: 1rem;
}

.combo-text button:hover {
  background: #555;
  cursor: pointer;
}

.why-try {
  padding: 50px 20rem;
  text-align: center;
}
